

.nava{
    color: #ffff !important;
}

.navbar{
    margin-bottom: 0px;
    width: 100%;
    border-bottom: none;
    position: absolute;
    z-index: 99;
}

.yamm .dropdown-menu {
    background-color: transparent;
}

.logo {
    margin-top: auto;
}

.text-danger {
    color: skyblue;
}

.slider {
    min-height: 600px;
    height: calc(100vh);    
}

.slider-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.item img {
    
    opacity: 1;
    transform: translate(0);
}

.btn.btn-white.btn-outline-white {
    border-color: #fff;
    background: transparent;
    color: #fff;
    letter-spacing: .2em;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
}

.search-btn, .toggle-btn {
    background-color: skyblue;
}

.slider .owl-theme .owl-controls .owl-page span {
    background-color: skyblue;
    
}


.bg-success {
    background-color: #7cbd1e !important;
    border-radius: 0.25rem !important;
    letter-spacing: .2em;
    font-size: 12px;
    text-transform: uppercase;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    margin-bottom: 1rem !important;
}

.text-white {
    color: #fff !important;
}

.yamm .nav, .yamm .collapse, .yamm .dropup, .yamm .dropdown {
    position: relative;
}

.yamm .yamm-content {
    width: max-content;
    
} 
.yamm .dropdown.yamm-fw .dropdown-menu {
    width: max-content;
    background-color: #7887bded;
} 

.nav>li>a {
    background: transparent !important;
}


.navbar .yamm-content ul li a {
    width: max-content;
}

/* section-sobremi  */

.section-sobremi {
    padding: 3em 0;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.btn-outline-primary{
    color: #1f3c88;
    background-color: transparent;
    background-image: none;
    border-color: #1f3c88;
}
